.contedor_Carrito{
    text-align: center;
    align-items: center;
    background-color: black;
    color: white;
    
}

.contenedor_Button{
    display: contents;
}

.contenedor_Mensaje{
    float: right;
    padding-right: 20px;
    
}

.button_EP{
    float: right;
    margin-right: 20px;
}